[core]
editor = nvim

[color "diff"]
whitespace = red reverse

[user]
email = dev@rozanov.info
name = Daniil Rozanov
signingkey = dev@rozanov.info

[commit]
gpgsign = true

[tag]
gpgSign = true
[http]
sslCAinfo = /etc/ssl/certs/ca-certificates.crt
[init]
defaultBranch = main
